/* ------------ DEFAULT STYLES ------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
button:hover {
    cursor: pointer;
}

/* ------------ HEADER STYLES --------- */
header {
    background-color: lightgrey;
}
nav {
    width: 100%;
    max-width: 1200px;
    min-height: 50px;
    margin: 0 auto;
}
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.nav-items>li {
    padding-left: 20px;
    list-style: none;
}
.name {
    font-weight: bold;
    font-size: 1.4em;
}
/* ---------- BODY STYLES ---------*/
body {
    height: 100%;
}
main {

} 
.app-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 50px 0;
}
.app-details>p {
    max-width: 500px;
    font-size: 1.8em;
    padding: 10px 10px;
}
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20x 0;
    margin-bottom: 100px;
    min-height: 300px;
}
#city-state {
    padding-bottom: 10px;
}
#search {
    padding: 10px 10px;
}
#search-button, #email-form-submit {
    padding: 10px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
}
/* -----  STYLES FOR TRAIL AND WEATHER RESULTS ---- */
.js-trail {
    background-color: lightgray;
    height: 350px;
    overflow: scroll;
}
.js-weather {
    background-color: lightgray;
    margin-bottom: 20px;
}
.js-weather-results, .js-current-weather, .js-trail-results {
    padding: 10px 20px;
    list-style: none;
}


.hidden {
    display: none;
}
.js-weather-results li {
    padding-bottom: 5px;
}
.js-weather-results h2 {
    padding: 10px 0 10px 0;
}
.js-weather h2 {
    padding: 10px 0 10px 0;
}
.results-container {
    margin-bottom: 50px;
}
/* --------- FOOTER STYLES ------- */
footer {
    background-color: darkgrey;
    padding: 30px 0;
    margin-top: 40px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 50%;
    padding-bottom: 20px;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}
.signup-form {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
#name, #email, #email-form-submit {
    width: 75%;
}


@media only screen and (min-width: 968px) {

.nav-items {
    margin-right: 100px;
    justify-content: space-around;
}
.results-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}
.results-container p {
    display: block;
    width: 100%;
}
.js-trail {
    width: 40%;
    margin-left: 40px;
    height: 500px;
    overflow: scroll;
}
.js-weather {
    width: 40%;
    height: 500px;
    overflow: scroll;
}
.footer-container {
    flex-direction: row;
}

}