/* ------------ DEFAULT STYLES ------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    background: url('img/mountain-trail.jpg') no-repeat center center fixed; 
    background-color: darkgrey;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a {
    text-decoration: none;
    color: #F1F8F9;
}
body{
    color: #F1F8F9;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
}
#search-button:hover, #email-form-submit:hover {
    cursor: pointer;
    background-color: #242e26;
    border: 1px solid white;
    color: #ffffff;
}

/* ------------ HEADER STYLES --------- */
header {
    background-color: black;
}
nav {
    width: 100%;
    max-width: 1200px;
    min-height: 50px;
    margin: 0 auto;
}
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.nav-items>li {
    padding-left: 20px;
    list-style: none;
}
.name {
    font-weight: bold;
    font-size: 1.4em;
}
/* ---------- BODY STYLES ---------*/
body {
    height: 100%;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
} 
.app-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 50px 0 25px 0;
    background: rgba(8, 8, 8, 0.45);
    color: white;
    
}

.app-details>p {
    max-width: 550px;
    font-size: 2em;
    padding: 10px 10px;
}
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20x 0;
    margin: 0 auto;
    margin-bottom: 100px;
    min-height: 300px;
    font-size: 1.2em;
    background: rgba(8, 8, 8, 0.45);
    width: 100%;
}

.search-form>label {
    padding: 10px 10px;
}
#city-state {
    padding-bottom: 10px;
}
#search {
    padding: 10px 10px;
}
#search-button, #email-form-submit {
    padding: 10px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#search-button {
    width: 100px;
}
.email-message {
    text-align: right;
}
/* -----  STYLES FOR TRAIL AND WEATHER RESULTS ---- */
.js-trail {
    background: rgba(252, 252, 252, 0.75);
    height: 350px;
    overflow: scroll;
    color: black;
}
.js-trail a {
    color: #000012;
    text-decoration: underline;
}
.js-trail p {
    font-style: italic;
    font-size: .9em;
}
.js-weather {
    background: rgba(252, 252, 252, 0.75);
    margin-bottom: 50px;
    color: black;
}
.js-weather-results, .js-current-weather, .js-trail-results, .js-trail {
    padding: 10px 20px;
    list-style: none;
    color: black;
}
.js-trail-results h3 {
    padding-top: 10px;
}

.hidden {
    display: none;
}
.js-weather-results h3 {
    padding-top: 10px;
}

.js-weather h2 {
    padding: 10px 0 10px 0px;
}
.results-container {
    margin-bottom: 50px;
}
h2.weather {
    padding-left: 10px;
}
.temp {
    font-size: 2em;
}
/* --------- FOOTER STYLES ------- */
footer {
    background-color: #000000;
    padding: 30px 0;
    margin-top: 40px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 50%;
    padding-bottom: 20px;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}
.signup-form {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: 1.2em;
}
#name, #email, #email-form-submit {
    width: 75%;
}


@media only screen and (min-width: 968px) {
.app-details {
    margin-top: 200px;
    width: 60%;
}
.search-form {
    width: 60%;
}
.nav-items {
    margin-right: 100px;
    justify-content: space-around;
}
.results-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}
.js-trail {
    width: 40%;
    margin-left: 40px;
    height: 500px;
    overflow: scroll;
}
.js-weather {
    width: 40%;
    height: 500px;
    overflow: scroll;
}
.footer-container {
    flex-direction: row;
}

}